 <div data-dojo-type="dojox.mobile.RoundRect">
    <span>You change the password assocated with your account.</span>
</div>

<div data-dojo-type="dojox.mobile.RoundRect">
    <span>Old Password</span>
    <input id="inputOldPassword" data-dojo-type="dojox.mobile.TextBox" class="TextBox-Large" type="password" value="" />
</div>
  
<div data-dojo-type="dojox.mobile.RoundRect">
    <span>New Password</span>
    <input id="inputNewPassword" data-dojo-type="dojox.mobile.TextBox" class="TextBox-Large" type="password" value="" />
    <span>Confirm New Password</span>
    <input id="inputConfirmNewPassword" data-dojo-type="dojox.mobile.TextBox" class="TextBox-Large" type="password" value="" />
</div>

<ul data-dojo-type="dojox.mobile.RoundRectList">
  <li 
    id="listItemChangePassword" 
    data-dojo-type="dojox.mobile.ListItem" 
    data-dojo-props="rightText: 'Change Password', moveTo: 'viewWeeklyFoodSummaries'" 
    onclick="app.actions.changePassword();" >
  </li>
</ul>
