<ul id="listMeasurementEntries" data-dojo-type="dojox.mobile.RoundRectList">

<li data-dojo-type="dojox.mobile.ListItem">
  <div class="Div-Info-Header-LeftTitle">
    <span id="spanMeasurementDayName">Tuesday</span>
  </div>
</li>
  
<li     id="listItemDailyMeasurement00" class="ListItem-Details" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="label:'', moveTo:'viewUpdateMeasurementEntry'" >  
  <div                                               class="Div-Info-Details"> 
    <div     id="divDailyMeasurement00Details"       class="Div-Info-Data-Wide ">                                   
      <div   id="divDailyMeasurement00Value"         class="Div-Info-Value">128/56</div>
      <div   id="divDailyMeasurement00Unit"          class="Div-Info-Unit">mmHg</div></div> 
    <div     id="divDailyMeasurement00Description" >
      <span id="spanDailyMeasurement00Measurement"   class="Span-Info-Description" >Blood Preassure</span>        
      <span id="spanDailyMeasurement00Time"          class="Span-Info-Insert-Small"></span>
    </div>  
  </div>
</li>

<li     id="listItemDailyMeasurement01" class="ListItem-Details" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="label:'', moveTo:'viewUpdateMeasurementEntry'" >  
  <div                                             class="Div-Info-Details"> 
    <div     id="divDailyMeasurement01Details"       class="Div-Info-Data-Wide ">                                   
      <div   id="divDailyMeasurement01Value"         class="Div-Info-Value">142/134</div>
      <div   id="divDailyMeasurement01Unit"          class="Div-Info-Unit">mmHg</div>
     </div> 
     <div     id="divDailyMeasurement01Description" >
        <span id="spanDailyMeasurement01Measurement"   class="Span-Info-Description" >Blood Preassure</span>        
        <span id="spanDailyMeasurement01Time"          class="Span-Info-Insert-Small">14:35</span>
     </div>  
  </div>
</li>

<li     id="listItemDailyMeasurement02" class="ListItem-Details" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="label:'', moveTo:'viewUpdateMeasurementEntry'" >  
  <div                                          class="Div-Info-Details"> 
    <div     id="divDailyMeasurement02Details"       class="Div-Info-Data-Wide ">                                   
      <div   id="divDailyMeasurement02Value"         class="Div-Info-Value">87.4</div>
      <div   id="divDailyMeasurement02Unit"          class="Div-Info-Unit">kg</div></div> 
    <div     id="divDailyMeasurement02Description" >
      <span id="spanDailyMeasurement02Measurement"   class="Span-Info-Description" >Weight</span>        
      <span id="spanDailyMeasurement02Time"          class="Span-Info-Insert-Small">14:35</span>
    </div>  
  </div>
</li>

<li     id="listItemDailyMeasurement03" class="ListItem-Details Hidden" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="label:'', moveTo:'viewUpdateMeasurementEntry'" >  
  <div                                        class="Div-Info-Details"> 
    <div     id="divDailyMeasurement03Details"       class="Div-Info-Data-Wide ">                                   
      <div   id="divDailyMeasurement03Value"         class="Div-Info-Value"></div>
      <div   id="divDailyMeasurement03Unit"          class="Div-Info-Unit"></div></div> 
    <div     id="divDailyMeasurement03Description" >
      <span id="spanDailyMeasurement03Measurement"   class="Span-Info-Description" ></span>        
      <span id="spanDailyMeasurement03Time"          class="Span-Info-Insert-Small"></span>
    </div>  
  </div>
</li>

<li     id="listItemDailyMeasurement04" class="ListItem-Details Hidden" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="label:'', moveTo:'viewUpdateMeasurementEntry'" >  
  <div                                               class="Div-Info-Details"> 
    <div     id="divDailyMeasurement04Details"       class="Div-Info-Data-Wide ">                                   
      <div   id="divDailyMeasurement04Value"         class="Div-Info-Value"></div>
      <div   id="divDailyMeasurement04Unit"          class="Div-Info-Unit"></div></div> 
    <div     id="divDailyMeasurement04Description" >
      <span id="spanDailyMeasurement04Measurement"   class="Span-Info-Description" ></span>        
      <span id="spanDailyMeasurement04Time"          class="Span-Info-Insert-Small"></span>
    </div>  
  </div>
</li>

<li     id="listItemDailyMeasurement05" class="ListItem-Details Hidden" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="label:'', moveTo:'viewUpdateMeasurementEntry'" >  
  <div                                               class="Div-Info-Details"> 
    <div     id="divDailyMeasurement05Details"       class="Div-Info-Data-Wide ">                                   
      <div   id="divDailyMeasurement05Value"         class="Div-Info-Value"></div>
      <div   id="divDailyMeasurement05Unit"          class="Div-Info-Unit"></div></div> 
    <div     id="divDailyMeasurement05Description" >
      <span id="spanDailyMeasurement05Measurement"   class="Span-Info-Description" ></span>        
      <span id="spanDailyMeasurement05Time"          class="Span-Info-Insert-Small"></span>
    </div>  
  </div>
</li>

<li     id="listItemDailyMeasurement06" class="ListItem-Details Hidden" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="label:'', moveTo:'viewUpdateMeasurementEntry'" >  
  <div                                               class="Div-Info-Details"> 
    <div     id="divDailyMeasurement06Details"       class="Div-Info-Data-Wide ">                                   
      <div   id="divDailyMeasurement06Value"         class="Div-Info-Value"></div>
      <div   id="divDailyMeasurement06Unit"          class="Div-Info-Unit"></div></div> 
    <div     id="divDailyMeasurement06Description" >
      <span id="spanDailyMeasurement06Measurement"   class="Span-Info-Description" ></span>        
      <span id="spanDailyMeasurement06Time"          class="Span-Info-Insert-Small"></span>
    </div>  
  </div>
</li>

<li     id="listItemDailyMeasurement07" class="ListItem-Details Hidden" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="label:'', moveTo:'viewUpdateMeasurementEntry'" >  
  <div                                               class="Div-Info-Details"> 
    <div     id="divDailyMeasurement07Details"       class="Div-Info-Data-Wide ">                                   
      <div   id="divDailyMeasurement07Value"         class="Div-Info-Value"></div>
      <div   id="divDailyMeasurement07Unit"          class="Div-Info-Unit"></div></div> 
    <div     id="divDailyMeasurement07Description" >
      <span id="spanDailyMeasurement07Measurement"   class="Span-Info-Description" ></span>        
      <span id="spanDailyMeasurement07Time"          class="Span-Info-Insert-Small"></span>
    </div>  
  </div>
</li>

<li     id="listItemDailyMeasurement08" class="ListItem-Details Hidden" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="label:'', moveTo:'viewUpdateMeasurementEntry'" >  
  <div                                               class="Div-Info-Details"> 
    <div     id="divDailyMeasurement08Details"       class="Div-Info-Data-Wide ">                                   
      <div   id="divDailyMeasurement08Value"         class="Div-Info-Value"></div>
      <div   id="divDailyMeasurement08Unit"          class="Div-Info-Unit"></div></div> 
    <div     id="divDailyMeasurement08Description" >
      <span id="spanDailyMeasurement08Measurement"   class="Span-Info-Description" ></span>        
      <span id="spanDailyMeasurement08Time"          class="Span-Info-Insert-Small"></span>
    </div>  
  </div>
</li>

<li     id="listItemDailyMeasurement09" class="ListItem-Details Hidden" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="label:'', moveTo:'viewUpdateMeasurementEntry'" >  
  <div                                               class="Div-Info-Details"> 
    <div     id="divDailyMeasurement09Details"       class="Div-Info-Data-Wide ">                                   
      <div   id="divDailyMeasurement09Value"         class="Div-Info-Value"></div>
      <div   id="divDailyMeasurement09Unit"          class="Div-Info-Unit"></div></div> 
    <div     id="divDailyMeasurement09Description" >
      <span id="spanDailyMeasurement09Measurement"   class="Span-Info-Description" ></span>        
      <span id="spanDailyMeasurement09Time"          class="Span-Info-Insert-Small"></span>
    </div>  
  </div>
</li>

<li     id="listItemDailyMeasurement10" class="ListItem-Details Hidden" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="label:'', moveTo:'viewUpdateMeasurementEntry'" >  
  <div                                               class="Div-Info-Details"> 
    <div     id="divDailyMeasurement10Details"       class="Div-Info-Data-Wide ">                                   
      <div   id="divDailyMeasurement10Value"         class="Div-Info-Value"></div>
      <div   id="divDailyMeasurement10Unit"          class="Div-Info-Unit"></div></div> 
    <div     id="divDailyMeasurement10Description" >
      <span id="spanDailyMeasurement10Measurement"   class="Span-Info-Description" ></span>        
      <span id="spanDailyMeasurement10Time"          class="Span-Info-Insert-Small"></span>
    </div>  
  </div>
</li>


<li id="listItemDailyAddMeasurement" data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" rightText:'Add', moveTo:'viewNewMeasurementEntryOptions' " onclick="">
</li>

</ul>