<ul data-dojo-type="dojox.mobile.RoundRectList">
  <li id="listItemFoodName"               data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: 'butter beans in water (the co-operative group)', rightText:''" style="height: auto;" class="ListItem-Details" ></li>
  <li id="listItemFoodServingDescription" data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: '',             rightText:'3 heaped tablespoon (125g)' " ></li>
  <li                                     data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: '',             rightText:''" style="height: 2px;" ></li>
  <li id="listItemFoodBaselineName"       data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: '',             rightText:'per 100g'" ></li>
  <li id="listItemFoodCalories"           data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: 'calories',     rightText:'95'" ></li>
  <li id="listItemFoodProtein"            data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: 'protein',      rightText:'7.2'" ></li>
  <li id="listItemFoodCarbohydrate"       data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: 'carbohydrate', rightText:'15'" ></li>
  <li id="listItemFoodSugar"              data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: 'sugar',        rightText:'0.7'" ></li>
  <li id="listItemFoodFat"                data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: 'fat',          rightText:'0.5'" ></li>
  <li id="listItemFoodSaturatedFat"       data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: 'saturated fat',rightText:'0.2'" ></li>
  <li id="listItemFoodFibre"              data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: 'fibre',        rightText:'5.2'" ></li>
  <li id="listItemFoodSalt"               data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: 'salt',         rightText:'0.1'" ></li>
</ul>

