
<div id="categoryNewFoodEntrySourceDateAndMealTime" data-dojo-type="dojox.mobile.RoundRectCategory" data-dojo-props="label: 'Breakfast, Monday 23 June'" ></div>

<ul data-dojo-type="dojox.mobile.RoundRectList">

  <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props="label: 'Search for a Food and Enter Quantity', rightText: 'Add', moveTo:'viewSearchFood' " ></li>
  
</ul>
  
<ul data-dojo-type="dojox.mobile.RoundRectList">
   
  <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props="label: 'Select from Recent Meals', rightText: 'Add', moveTo:'viewFoodEntryHistory' " onclick="app.actions.showHistoryResults()" ></li>

</ul>

 
 

 

