<ul data-dojo-type="dojox.mobile.RoundRectList">
  <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: 'Breakfast',         rightText:'Add', moveTo:'#viewNewFoodEntrySource' " onclick=" app.actions.showFoodEntryOptions('TODAY', 'breakfast'); "></li>
  <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: 'Lunch',             rightText:'Add', moveTo:'#viewNewFoodEntrySource' " onclick=" app.actions.showFoodEntryOptions('TODAY', 'lunch'    ); "></li>
  <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: 'Dinner',            rightText:'Add', moveTo:'#viewNewFoodEntrySource' " onclick=" app.actions.showFoodEntryOptions('TODAY', 'dinner'   ); "></li>
  <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: 'Snacks',            rightText:'Add', moveTo:'#viewNewFoodEntrySource' " onclick=" app.actions.showFoodEntryOptions('TODAY', 'snacks'   ); "></li>
</ul> 
