<ul data-dojo-type="dojox.mobile.RoundRectList">
  <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: 'Weight',                  rightText:'Add', moveTo:'#viewNewMeasurementEntryAmount' " onclick=" app.actions.showMeasurementEntryOptions('TODAY', 'WEIGHT'        ); "></li>
  <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: 'Blood Preassure',         rightText:'Add', moveTo:'#viewNewMeasurementEntryAmount' " onclick=" app.actions.showMeasurementEntryOptions('TODAY', 'BLOOD PRESSURE'); "></li>
  <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props=" label: 'Exercise',                rightText:'Add', moveTo:'#viewNewMeasurementEntryAmount' " onclick=" app.actions.showMeasurementEntryOptions('TODAY', 'EXERCISE'      ); "></li>
</ul> 
