<div data-dojo-type="dojox.mobile.RoundRect">
    <span>We can e-mail a new password to the following email address.</span>
</div>

<div data-dojo-type="dojox.mobile.RoundRect">
    <span>EMail</span>
    <input id="InputEmailPasswordReset" data-dojo-type="dojox.mobile.TextBox" class="TextBox-Large" type="text" value=""></input>
</div>

<ul data-dojo-type="dojox.mobile.RoundRectList">
  <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props="rightText: 'EMail Password', moveTo:'viewExistingUser' " onclick="app.actions.resetPassword(document.getElementById('InputEmailPasswordReset').value)" ></li>
</ul>

                                                                                                                                                    