<ul  id="listMeasurementEntrySummaries" data-dojo-type="dojox.mobile.RoundRectList">

<li data-dojo-type="dojox.mobile.ListItem" >
  <div id="divWeeklyMeasurementDetailsHeader" style="margin-right:20px">
    <div class="Div-Info-Header-Small-Wide       ">BP</div>
    <div class="Div-Info-Header-Small-Wide       ">Weight</div>
  </div>
  <div id="divWeeklyMeasurementSummaryHeader" style="margin-right:26px; display: none;">
    <div class="Div-Info-Header-Small      ">Weight</div>
  </div>

  <div class="Div-Info-Header-LeftTitle">
    <span id="spanMeasurementWeekName">14 January</span>
  </div>
</li>


<li id="listItemWeeklyMeasurementMon" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="moveTo: 'viewMeasurementDiary', label: 'Monday' " onclick="app.actions.showDay(this)">
  <div   id="divWeeklyMeasurementMonDetails" >
    <div id="divWeeklyMeasurementMonBloodPressure"  class="Div-Info-Data-Wide ">137/96</div>
    <div id="divWeeklyMeasurementMonWeight"         class="Div-Info-Data-Wide "></div>
  </div>
</li>

<li id="listItemWeeklyMeasurementTue" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="moveTo: 'viewMeasurementDiary', label: 'Tuesday' "  onclick="app.actions.showDay(this)">
  <div   id="divWeeklyMeasurementTueDetails" >
    <div id="divWeeklyMeasurementTueBloodPressure"   class="Div-Info-Data-Wide ">128/87</div>
    <div id="divWeeklyMeasurementTueWeight"          class="Div-Info-Data-Wide ">&nbsp;</div>
  </div>
</li>

<li id="listItemWeeklyMeasurementWed" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="moveTo: 'viewMeasurementDiary', label: 'Wednesday' "  onclick="app.actions.showDay(this)">
  <div   id="divWeeklyMeasurementWedDetails" >
    <div id="divWeeklyMeasurementWedBloodPressure"   class="Div-Info-Data-Wide ">126/89</div>
    <div id="divWeeklyMeasurementWedWeight"          class="Div-Info-Data-Wide ">&nbsp;</div>
  </div>
</li>

<li id="listItemWeeklyMeasurementThu" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="moveTo: 'viewMeasurementDiary', label: 'Thursday' "  onclick="app.actions.showDay(this)">
  <div   id="divWeeklyMeasurementThuDetails" >
    <div id="divWeeklyMeasurementThuBloodPressure"   class="Div-Info-Data-Wide ">&nbsp;</div>
    <div id="divWeeklyMeasurementThuWeight"          class="Div-Info-Data-Wide ">87.2</div>
  </div>
</li>

<li id="listItemWeeklyMeasurementFri" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="moveTo: 'viewMeasurementDiary', label: 'Friday' "  onclick="app.actions.showDay(this)">
  <div   id="divWeeklyMeasurementFriDetails" >
    <div id="divWeeklyMeasurementFriBloodPressure"   class="Div-Info-Data-Wide ">135/92</div>
    <div id="divWeeklyMeasurementFriWeight"          class="Div-Info-Data-Wide ">&nbsp;</div>
  </div>    
</li>

<li id="listItemWeeklyMeasurementSat" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="moveTo: 'viewMeasurementDiary', label: 'Saturday' "  onclick="app.actions.showDay(this)">
  <div   id="divWeeklyMeasurementSatDetails" >
    <div id="divWeeklyMeasurementSatBloodPressure"   class="Div-Info-Data-Wide ">133/92</div>
    <div id="divWeeklyMeasurementSatWeight"          class="Div-Info-Data-Wide ">&nbsp;</div>
  </div>      
</li>

<li id="listItemWeeklyMeasurementSun" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="moveTo: 'viewMeasurementDiary', label: 'Sunday' "  onclick="app.actions.showDay(this)">
  <div   id="divWeeklyMeasurementSunDetails" >
    <div id="divWeeklyMeasurementSunBloodPressure"   class="Div-Info-Data-Wide ">126/86</div>
    <div id="divWeeklyMeasurementSunWeight"          class="Div-Info-Data-Wide ">87.4</div>
  </div>      
</li>

</ul>