 
<ul id="listFoodEntrySummaries" data-dojo-type="dojox.mobile.RoundRectList">

<li data-dojo-type="dojox.mobile.ListItem" >
  <div id="divWeeklyDetailsHeader" style="margin-right:20px">
    <div class="Div-Info-Header-Small      ">Salt</div>
    <div class="Div-Info-Header-Small      ">Fibre</div>
    <div class="Div-Info-Header-Small-Down ">SaturatedFat</div>
    <div class="Div-Info-Header-Small-Up   ">Fat</div>
    <div class="Div-Info-Header-Small-Down ">Sugar</div>
    <div class="Div-Info-Header-Small-Up   ">Carbohydrate</div>
    <div class="Div-Info-Header-Small      ">Protein</div>
    <div class="Div-Info-Header-Small      ">Calories</div>
  </div>
  <div id="divWeeklySummaryHeader" style="margin-right:26px; display: none;">
    <div class="Div-Info-Header-Small      ">Calories</div>
  </div>

  <div class="Div-Info-Header-LeftTitle">
    <span id="spanFoodWeekName">14 January</span>
  </div>
</li>


<li id="listItemWeeklyFoodMon" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="moveTo: 'viewFoodDiary', label: 'Monday' " onclick="app.actions.showDay(this)">
  <div   id="divWeeklyFoodMonDetails" >
    <div id="divWeeklyFoodMonSalt"          class="Div-Info-Data">5.43</div>
    <div id="divWeeklyFoodMonFibre"         class="Div-Info-Data">6.2</div>
    <div id="divWeeklyFoodMonSaturatedFat"  class="Div-Info-Data-light">12.8</div>
    <div id="divWeeklyFoodMonFat"           class="Div-Info-Data">32.7</div>
    <div id="divWeeklyFoodMonSugar"         class="Div-Info-Data-light">43.2</div>
    <div id="divWeeklyFoodMonCarbohydrate"  class="Div-Info-Data">68.2</div>
    <div id="divWeeklyFoodMonProtein"       class="Div-Info-Data">23.6</div>
    <div id="divWeeklyFoodMonCalories"      class="Div-Info-Data">2301</div>
  </div>
</li>

<li id="listItemWeeklyFoodTue" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="moveTo: 'viewFoodDiary', label: 'Tuesday' "  onclick="app.actions.showDay(this)">
  <div   id="divWeeklyFoodTueDetails" >
    <div id="divWeeklyFoodTueSalt"           class="Div-Info-Data">6.32</div>
    <div id="divWeeklyFoodTueFibre"          class="Div-Info-Data">3.2</div>
    <div id="divWeeklyFoodTueSaturatedFat"   class="Div-Info-Data-light">15.2</div>
    <div id="divWeeklyFoodTueFat"            class="Div-Info-Data">43.2</div>
    <div id="divWeeklyFoodTueSugar"          class="Div-Info-Data-light">21.5</div>
    <div id="divWeeklyFoodTueCarbohydrate"   class="Div-Info-Data">78.2</div>
    <div id="divWeeklyFoodTueProtein"        class="Div-Info-Data">24.2</div>
    <div id="divWeeklyFoodTueCalories"       class="Div-Info-Data">2438</div>
  </div>
</li>

<li id="listItemWeeklyFoodWed" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="moveTo: 'viewFoodDiary', label: 'Wednesday' "  onclick="app.actions.showDay(this)">
  <div   id="divWeeklyFoodWedDetails" >
    <div id="divWeeklyFoodWedSalt"           class="Div-Info-Data">4.76</div>
    <div id="divWeeklyFoodWedFibre"          class="Div-Info-Data">4.9</div>
    <div id="divWeeklyFoodWedSaturatedFat"   class="Div-Info-Data-light">12.6</div>
    <div id="divWeeklyFoodWedFat"            class="Div-Info-Data">43.9</div>
    <div id="divWeeklyFoodWedSugar"          class="Div-Info-Data-light">29.0</div>
    <div id="divWeeklyFoodWedCarbohydrate"   class="Div-Info-Data">68.4</div>
    <div id="divWeeklyFoodWedProtein"        class="Div-Info-Data">22.5</div>
    <div id="divWeeklyFoodWedCalories"       class="Div-Info-Data">2377</div>
  </div>
</li>

<li id="listItemWeeklyFoodThu" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="moveTo: 'viewFoodDiary', label: 'Thursday' "  onclick="app.actions.showDay(this)">
  <div   id="divWeeklyFoodThuDetails" >
    <div id="divWeeklyFoodThuSalt"           class="Div-Info-Data">4.66</div>
    <div id="divWeeklyFoodThuFibre"          class="Div-Info-Data">5.9</div>
    <div id="divWeeklyFoodThuSaturatedFat"   class="Div-Info-Data-light">14.4</div>
    <div id="divWeeklyFoodThuFat"            class="Div-Info-Data">47.3</div>
    <div id="divWeeklyFoodThuSugar"          class="Div-Info-Data-light">26.9</div>
    <div id="divWeeklyFoodThuCarbohydrate"   class="Div-Info-Data">73.2</div>
    <div id="divWeeklyFoodThuProtein"        class="Div-Info-Data">29.3</div>
    <div id="divWeeklyFoodThuCalories"       class="Div-Info-Data">2532</div>
  </div>
</li>

<li id="listItemWeeklyFoodFri" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="moveTo: 'viewFoodDiary', label: 'Friday' "  onclick="app.actions.showDay(this)">
  <div   id="divWeeklyFoodFriDetails" >
    <div id="divWeeklyFoodFriSalt"           class="Div-Info-Data">4.66</div>
    <div id="divWeeklyFoodFriFibre"          class="Div-Info-Data">5.9</div>
    <div id="divWeeklyFoodFriSaturatedFat"   class="Div-Info-Data-light">14.4</div>
    <div id="divWeeklyFoodFriFat"            class="Div-Info-Data">47.3</div>
    <div id="divWeeklyFoodFriSugar"          class="Div-Info-Data-light">26.9</div>
    <div id="divWeeklyFoodFriCarbohydrate"   class="Div-Info-Data">73.2</div>
    <div id="divWeeklyFoodFriProtein"        class="Div-Info-Data">29.3</div>
    <div id="divWeeklyFoodFriCalories"       class="Div-Info-Data">2532</div>
  </div>    
</li>

<li id="listItemWeeklyFoodSat" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="moveTo: 'viewFoodDiary', label: 'Saturday' "  onclick="app.actions.showDay(this)">
  <div   id="divWeeklyFoodSatDetails" >
    <div id="divWeeklyFoodSatSalt"           class="Div-Info-Data">4.66</div>
    <div id="divWeeklyFoodSatFibre"          class="Div-Info-Data">5.9</div>
    <div id="divWeeklyFoodSatSaturatedFat"   class="Div-Info-Data-light">14.4</div>
    <div id="divWeeklyFoodSatFat"            class="Div-Info-Data">47.3</div>
    <div id="divWeeklyFoodSatSugar"          class="Div-Info-Data-light">26.9</div>
    <div id="divWeeklyFoodSatCarbohydrate"   class="Div-Info-Data">73.2</div>
    <div id="divWeeklyFoodSatProtein"        class="Div-Info-Data">29.3</div>
    <div id="divWeeklyFoodSatCalories"       class="Div-Info-Data">2532</div>
  </div>      
</li>

<li id="listItemWeeklyFoodSun" data-dojo-type="dojox.mobile.ListItem" data-dojo-props="moveTo: 'viewFoodDiary', label: 'Sunday' "  onclick="app.actions.showDay(this)">
  <div   id="divWeeklyFoodSunDetails" >
    <div id="divWeeklyFoodSunSalt"           class="Div-Info-Data">4.66</div>
    <div id="divWeeklyFoodSunFibre"          class="Div-Info-Data">5.9</div>
    <div id="divWeeklyFoodSunSaturatedFat"   class="Div-Info-Data-light">14.4</div>
    <div id="divWeeklyFoodSunFat"            class="Div-Info-Data">47.3</div>
    <div id="divWeeklyFoodSunSugar"          class="Div-Info-Data-light">26.9</div>
    <div id="divWeeklyFoodSunCarbohydrate"   class="Div-Info-Data">73.2</div>
    <div id="divWeeklyFoodSunProtein"        class="Div-Info-Data">29.3</div>
    <div id="divWeeklyFoodSunCalories"       class="Div-Info-Data">2532</div>
  </div>      
</li>

</ul>
 

